@media(max-width: 620px) {
    .principal {
        padding: 0 15px;
        gap: 10px;
    }

    .seta{
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartao {
        height: 480px;
    }

    .pokemons .imagem-pokemon {
        max-height: 230px;
    }

    .pokemons .informacoes .nome {
        max-width: 50%;
        font-size: 18px;
    }

    .pokemons .informacoes .vida {
        font-size: 14px;
    }
}